<div class="card">
  <div class="card-body">
    <div class="row mb-3 align-items-center">
      <div class="col">
        <div class="text-sm">Abonnements Créés par Mois</div>
        <h3 class="mt-2 f-w-600">{{ getTotalSubscriptions() }}</h3>
      </div>
      <div class="col-auto">
        <select class="form-select p-r-35" title="Select">
          <option>Today</option>
          <option selected>Month</option>
          <option>Year</option>
        </select>
      </div>
    </div>

    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </div>
</div>
